
<h1>Apartments View by Cards</h1>

@*Define the model*@
@model IEnumerable<Apartment>


@*Define C# Code: View Data and C# Properties*@

@{
    ViewData["Title"] = "List of Apartments";
}

@*Write the C# HTML Code*@
<div class = "row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.AptNumber
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <a class="text-white float-right" asp-action="Edit" asp-route-id="@item.ApartmentId"><i class="bi bi-pencil-square"></i></a>
                                    }
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@item.Description" width="100%" alt="@item.Description">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text">@item.Description</p>
                            <p class="card-text"><b>Building Name: </b>@item.Building.BuildingName</p>
                            <p class="card-text"><b>Features: </b>@item.Features</p>
                            <p class="card-text"><b>Start Date: </b>@item.StartDate.ToString("dd MMM yy")</p>
                            <p class="card-text"><b>End Date: </b>@item.EndDate.ToString("dd MMM yy")</p>
                            <p class="card-text ">
                                <b>Status: </b>
                                @if (DateTime.Now >= item.StartDate && DateTime.Now <= item.EndDate)
                                {
                                    <span class="badge ">AVAILABLE</span>
                                }
                                else if (DateTime.Now > item.EndDate)
                                {
                                    <span class="badge ">RENTED</span>
                                }
                                else
                                {
                                    <span class="badge ">AVAILABLE</span>
                                }
                            </p>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.ApartmentId">
                                    <i class="bi bi-eye-fill"></i> Show Details
                                </a>
                                <a class="btn @((DateTime.Now > item.EndDate) ? "disabled" : "")" 
                                   asp-controller="" 
                                   asp-action="" 
                                   asp-route-id="@item.ApartmentId">
                                <i class="bi"></i> Rent it! (Price @item.Price.ToString("c"))</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>